- var layoutSetters = { headTags: true, OGTags: true, responsive: true, dev: false }

//- Configs
- var configs = { css: 'css/main.css', js: 'js/main.js' }
- var headConfigs = { title: 'Page Title', description: 'Page Desc', keywords: 'Page keywords', author: 'Page Author' }


//- Open Graph meta tag
- var OGmeta = { title: 'Open Graph title', url: 'Open Graph url.ru', image: 'Open Graph image.png', locale: 'ru_RU', localeAlt: 'en_EN', description: 'Open Graph Description', siteName: 'Open Graph SiteName' }