

//- Configs
- var configs = { responsive: true, title: 'Page Title', css: 'css/main.css', js: 'js/main.js' }
- var headConfigs = { description: 'Page Desc', tags: 'Page keywords', author: 'Page Author' }


//- Open Graph meta tag
- var OGmeta = { title: 'Open Graph title', url: 'Open Graph url.ru', image: 'Open Graph image.png', locale: 'ru_RU', localeAlt: 'en_EN', description: 'Open Graph Description', siteName: 'Open Graph SiteName' }