//- This variable has a dependency with scss var which is located in scss/project/components/development.scss $columns: ( size )
//- so if u change value of columns, change value of $columns: ( size ) too
- var columns = 12;

.degub
	.debug_grid
		- for (var i = 0; i < columns; ++i) {
			.debug_grid-column
		- }