extends layouts/default

block head
	- cssPath = 'css/main.css';
	- pageTitle = 'CSSSR START Project QSTemplate';
	- OGmetaTitle = 'CSSSR START Project QSTemplate';
	//- u can add all avaliable variables, available variables can be found in partials/head, partials/OGhead
	//- if u dont set this vars, they will have default values

block content
	h1 Based on QSTemplate

block scripts