include ../meta/configs
include ../meta/mixins
include ../meta/variables
include ../meta/svg-library

doctype html

html
	head
		include ../partials/webp
		block head
		include ../partials/head
		if layoutSetters.responsive
			+responsiveMeta()

	body
		block header
			include ../partials/header


		block content


		block footer
			include ../partials/footer

		block additionalCSS

		block script
			script(src='' + configs.js async)

		block scripts


